<header>
  <div class="logo-bar">
      <div class="logo">F1 Prode</div>
  </div>
  <div class="nav-container">
      <nav>
          <ul>
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              <li><a href="#">Next Race</a></li>
              <li><a href="pronostico.html">My Prode</a></li>
              <li><a href="#">Rankings</a></li>
              <li><a href="#">Results</a></li>
              <li><a href="#">Rules</a></li>
          </ul>
      </nav>
  </div>
</header>
